# WEEK 02

In [73]:
print("Digvijay")

Digvijay

In [2]:
a = 2
b = "B"
c = True
d = 3.1415

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [6]:
e = int(c)
print(type(e), e)

<class 'int'> 1

# VARIABLES

In [25]:
x = 3
y = 10
result = x + y
print(x, '+', y, '=', result)

3 + 10 = 13

In [26]:
w = 245.54
h = 13.66
a = w * h
print(a)

3354.0764

# STRINGS

In [27]:
name = "Digvijay" + " " + "Chouhan"
print(name)

Digvijay Chouhan

In [31]:
# string formatting
name = "John Doe"

print("Hello {}".format(name))
print(f"Hello {name}")                #python 3.6 onwards
print("Hello %s" % name)              #python 2 format

Hello John Doe
Hello John Doe
Hello John Doe

In [32]:
word = "Hello"
print(word[0])
print(word[1])
print(word[-1])

H
e
o

In [33]:
# string slicing
print(word[0:2])

He

In [34]:
print(word[0:5:2])    # slicing with step

Hlo

In [37]:
print(x, c, d)

3 True 3.1415

In [46]:
# String Manipulation

name = "john doe"
print(name.title())
print(name.upper())

words = "Hello there!"
print(words.replace('!','.'))

John Doe
JOHN DOE
Hello there.

In [40]:
s = "Look above the world so high"
print(s.find('a'))

5

In [44]:
name = "    john   "
print(name.strip())
print(name.lstrip())
print(name.rstrip())

john
john
    john

In [45]:
print(s.split())

['Look', 'above', 'the', 'world', 'so', 'high']

In [48]:
name = "$$John Doe"
print(name.strip('$'))

John Doe

# RECEIPT PROGRAM

In [49]:
print("*" * 50)

**************************************************

In [72]:
# variable declaration
company_name = "coding temple inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89
total = p1_price + p2_price + p3_price

message = "Thansks for shopping with us today!"

print("*" * 50)
print("\t\t{}".format(company_name.title()) )
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))
print("=" * 50)
print("\t{}\t\t${}".format(p1_name, p1_price))
print("\t{}\t${}".format(p2_name, p2_price))
print("\t{}\t\t${}".format(p3_name, p3_price))
print("=" * 50)
print("\t\t\tTotal")
print("\t\t\t${}".format(total))
print("=" * 50)
print("\t{}".format(message))
print("*" * 50)

**************************************************
		Coding Temple Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================
	Thansks for shopping with us today!
**************************************************